.navbar {
  background-color: #14cc29c8; }

.banner {
  width: 100%;
  height: 300px; }

.bread {
  margin-top: 85px;
  margin-bottom: 0px; }

.card-reserva {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserve {
  width: 100%;
  border-radius: 0px; }

footer {
  background-color: #fffa19;
  margin-top: 12px;
  margin-bottom: 0px;
  padding: 20px 20px 0px 20px; }

.alto {
  height: 300px; }

.nav {
  margin-top: 0px;
  margin-bottom: 10px; }

/*# sourceMappingURL=styles.css.map */
