$yellow: #fffa19;
$red: #ff1919;
$green: #14cc29c8;

@mixin margenes($top,$bottom){
    margin-top:$top;
    margin-bottom: $bottom;
}

@mixin padding($top){
    padding-top: $top;
}

@mixin color($color){
    background-color: $color;
}

.navbar {
    @include color($green);
}

.banner{
    width:100%;
    height: 300px;
}

.bread{
    @include margenes(85px,0px);
}

.card-reserva {
    flex: 1 200px;
    @include margenes(10px,0px);
}

.btn-reserve {
    width:100%;
    border-radius:0px ;
}

footer {
    @include color($yellow);
    @include margenes(12px,0px );
    padding: 20px 20px 0px 20px;
}

.alto {
    height: 300px;
}

.nav {
    @include margenes(0px,10px);
}

