.navbar {
    background-color: #04009A;
}

.banner{
    width:100%;
    height: 300px;
}

.bread{
    margin-top: 85px;
}

.card-reserva {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserve {
    width:100%;
    border-radius:0px ;
}

footer {
    background-color:#C0FEFC;
    margin-bottom: 0px;
    margin-top:12px;
    padding: 20px 20px 0px 20px;
}

.alto {
    height: 300px;
}

.nav {
    margin-bottom:10px;
}